
.khung1 {
	width: 300px;
	height: 42px;
	border-bottom: 1px solid #00000061;
	text-align: center;


}
.khung11 ,.khung12,.khung13{
	float: left;
	width: 33%;
	height: 100%;
	padding-top: 15px;
}
.khung2 {
	width: 300px;
	height: 42px;
	border-bottom: 1px solid #00000061;
	text-align: center;
}

.khung21 ,.khung22,.khung23{
	padding-top: 6px;
	float: left;
	width: 32%;
	height: 100%;
	cursor : pointer ;
}

/*.newclass{
	transform: scale(0);
	transition: 1s;
	background-color: blue;
}*/
.newclass1{
	transition: 0.5s;
	

}
textarea {
	resize: none;
}

.khung3  {
	width: 300px;
}
.khung5 {
	width: 100%;
}
.khung4 {
	transition: 3s;
	display: none;
}
.guidi {
	margin-left: 260px;
}
.hamlike {
	transition: 0.3s;
	 animation: hamdelay 1s ease-out ;
	 position: relative;
	 color: blue;
}
@keyframes hamdelay{
	from{
		transform: rotate(-14deg) scale(1.5);
		color: blue;
	}
	to{
	transform: rotate(0deg) scale(1);
	color: blue;
	}
}
#socomemt {
	position: absolute;
}