
* { margin: 0px;
padding: 0px;
}
ul li {
	display: inline-block;
	margin-left: 15px;
	/*background-color: black;*/
	padding: 10px;
	/*border: 10px solid black;*/
	/*border-radius: 10px;*/

}
a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	color: red;
}
 a:hover {
	color: black;
}
ul li:hover {
	background-color: white;
}
ul li:hover a {
	color: white;
}
ul li:nth-child(1) {
	margin-left: 0px;
}
ul {
	display: inline-block;
	/*background-color: blue;*/
	float: right;
}
.khung1 {
 	
 	margin: auto;
 	background-color: white; 
}
