* {
	padding: 0px;
	margin: 0px;
}
.khung1 {
	width: 1010px;
	border: 1px solid black;
	text-align: center;
	
}
img {
	width: 100%;
}
.khung2 {
	
	border: 1px solid black;
	width: 500px;
	float: left;
	text-align: center;
}

a {
	text-decoration: none;
	font-family: 'Playfair Display', serif;
	color: #00000057;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	text-align: center;

}